header{
	text-align: left;
}

p{
	width: 500px;
	float: right;
	font-family: arial;
	font-size: 15px;
	color: white;
}


a{
	text-align: right;
}

body{
	background:url(1acc694fe73aecc4603f9e701576bebc-d5xop13.gif) no-repeat;
    background-size:100%;
}